.about-me-content {
  background-color: rgb(250, 250, 250);
  text-align: center;

  img {
    max-width: 150px;
    max-width: 150px;
  }

  .img-block {
    max-width: 200px;
    max-width: 200px;
    margin: auto;
  }
}