.about-me-content {
  background-color: rgb(250, 250, 250);
  text-align: center;

  img {
    max-width: 130px;
    max-width: 130px;
  }

  .img-block {
    max-width: 180px;
    max-width: 1800px;
    margin: auto;
  }

  a {
    color: darkgray !important;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}