.modal-wr {
  text-align: center;

  .modal-title {
    width: 100%;
    text-align: center;
  }

  img {
    max-height: 250px;
    max-width: 250px;
  }

  .modal-img-block {
    max-width: 100%;
  }
}