.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5)
}

.preloader img{
  position: relative;
  top: -120px;
  margin: 350px 0 0 650px;

}
