.Header {
  .navbar {
    background-color: #c2185b;
  }

  .navbar-brand {
    color: azure !important;
  }
  .navbar-light .navbar-toggler{
    color: azure;
  }
}

.avatar {
  border-radius: 80px;
}

.nav-link {
  color: azure !important;
}

.offcanvas-header {
  background-color: #c2185b;
  color: azure;
}

.offcanvas-body {
  background-color: #c2185b;
  color: azure;
}